@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 01 Hairline.eot");
    src: url("./Yekan Bakh FaNum 01 Hairline.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 01 Hairline.woff") format("woff"),
        url("./Yekan Bakh FaNum 01 Hairline.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 02 Thin.eot");
    src: url("./Yekan Bakh FaNum 02 Thin.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 02 Thin.woff") format("woff"),
        url("./Yekan Bakh FaNum 02 Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 03 Light.eot");
    src: url("./Yekan Bakh FaNum 03 Light.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 03 Light.woff") format("woff"),
        url("./Yekan Bakh FaNum 03 Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 04 Regular.eot");
    src: url("./Yekan Bakh FaNum 04 Regular.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 04 Regular.woff") format("woff"),
        url("./Yekan Bakh FaNum 04 Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 05 Medium.eot");
    src: url("./Yekan Bakh FaNum 05 Medium.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 05 Medium.woff") format("woff"),
        url("./Yekan Bakh FaNum 05 Medium.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 06 Bold.eot");
    src: url("./Yekan Bakh FaNum 06 Bold.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 06 Bold.woff") format("woff"),
        url("./Yekan Bakh FaNum 06 Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 07 Heavy.eot");
    src: url("./Yekan Bakh FaNum 07 Heavy.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 07 Heavy.woff") format("woff"),
        url("./Yekan Bakh FaNum 07 Heavy.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "yekan-bakh";
    src: url("./Yekan Bakh FaNum 08 Fat.eot");
    src: url("./Yekan Bakh FaNum 08 Fat.eot?#iefix") format("embedded-opentype"),
        url("./Yekan Bakh FaNum 08 Fat.woff") format("woff"),
        url("./Yekan Bakh FaNum 08 Fat.ttf") format("truetype");
    font-weight: 900;
}